.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/copy_of_seodapop_main_website/images/bgHerojpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__jplL {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jplL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jplL > :global(.__wab_flex-container) > *,
.freeBox__jplL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jplL > :global(.__wab_flex-container) > picture > img,
.freeBox__jplL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
}
.text__qBsVe {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  max-width: 528px;
  width: 100%;
  text-align: center;
  color: var(--token-lQGUVf47CErW);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__qBsVe {
    font-size: 16px;
    max-width: none;
  }
}
.freeBox___9If8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 38px 64px 68px;
}
@media (max-width: 640px) {
  .freeBox___9If8 {
    width: 100%;
    min-width: 0;
    padding: 30px;
    margin: 0px;
  }
}
.freeBox___34MTk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox___34MTk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___34MTk > :global(.__wab_flex-container) > *,
.freeBox___34MTk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___34MTk > :global(.__wab_flex-container) > picture > img,
.freeBox___34MTk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 640px) {
  .freeBox___34MTk {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox___34MTk > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox___34MTk > :global(.__wab_flex-container) > *,
  .freeBox___34MTk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___34MTk > :global(.__wab_flex-container) > picture > img,
  .freeBox___34MTk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__mYoRm {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__mYoRm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mYoRm > :global(.__wab_flex-container) > *,
.freeBox__mYoRm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYoRm > :global(.__wab_flex-container) > picture > img,
.freeBox__mYoRm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__mYoRm {
    padding: 0px;
  }
}
.freeBox___9Qn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___9Qn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox___9Qn > :global(.__wab_flex-container) > *,
.freeBox___9Qn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Qn > :global(.__wab_flex-container) > picture > img,
.freeBox___9Qn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h2__icnZq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .h2__icnZq {
    font-size: 30px;
  }
}
.text__o94Lx {
  align-self: flex-start;
  max-width: 1256px;
  width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.freeBox__ipmnv {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ipmnv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ipmnv > :global(.__wab_flex-container) > *,
.freeBox__ipmnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ipmnv > :global(.__wab_flex-container) > picture > img,
.freeBox__ipmnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow {
  --plsmc-rc-col-gap: 0px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9GdJg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite___31VSt:global(.__wab_instance) {
  position: relative;
}
.h3__uMpn5 {
  cursor: pointer;
}
.blueBdr__ipdfM:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column___0VoWt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__mCm5Z:global(.__wab_instance) {
  position: relative;
}
.h3__q1Frp {
  height: auto;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.blueBdr__oh3X:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__gmgG9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__lNmjb:global(.__wab_instance) {
  position: relative;
}
.h3__aiYdx {
  cursor: pointer;
}
.blueBdr__kbfSf:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.text__eal8O {
  padding-bottom: 0px;
}
.column__ehTh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite___5Q1UU:global(.__wab_instance) {
  position: relative;
}
.h3__cnNqv {
  height: auto;
  cursor: pointer;
}
.blueBdr__vl34M:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.text__nnBtz {
  height: auto;
}
.column__y1PXs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__kTyo4:global(.__wab_instance) {
  position: relative;
}
.h3__wXTb {
  cursor: pointer;
}
.blueBdr__vhfh2:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__v9IY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__jIp5:global(.__wab_instance) {
  position: relative;
}
.h3__kTyBw {
  cursor: pointer;
}
.blueBdr__o2D1Q:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.freeBox__nzkYz {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(#4b4b4be8, #4b4b4be8),
    url("/plasmic/copy_of_seodapop_main_website/images/youXVenturesOalh2MojUukUnsplash1Jpg2.jpg") top 50% left 50% / cover no-repeat scroll;
  width: 100%;
  min-width: 0;
  padding: 38px 64px 128px;
}
@media (max-width: 640px) {
  .freeBox__nzkYz {
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 36px 32px 42px;
  }
}
.freeBox__xoUi7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__xoUi7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xoUi7 > :global(.__wab_flex-container) > *,
.freeBox__xoUi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xoUi7 > :global(.__wab_flex-container) > picture > img,
.freeBox__xoUi7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 640px) {
  .freeBox__xoUi7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox__xoUi7 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__xoUi7 > :global(.__wab_flex-container) > *,
  .freeBox__xoUi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xoUi7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xoUi7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__gj2BU {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: center;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__gj2BU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gj2BU > :global(.__wab_flex-container) > *,
.freeBox__gj2BU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gj2BU > :global(.__wab_flex-container) > picture > img,
.freeBox__gj2BU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__gj2BU {
    padding: 0px;
  }
}
.freeBox__r4DUg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__r4DUg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__r4DUg > :global(.__wab_flex-container) > *,
.freeBox__r4DUg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r4DUg > :global(.__wab_flex-container) > picture > img,
.freeBox__r4DUg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__uHZb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  text-align: center;
  color: var(--token-lQGUVf47CErW);
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .h2__uHZb {
    font-size: 30px;
  }
}
.text__jaDyz {
  align-self: center;
  max-width: 924px;
  width: 100%;
  color: var(--token-lQGUVf47CErW);
  text-align: center;
  padding-top: 16px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox__b9UVm {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__b9UVm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b9UVm > :global(.__wab_flex-container) > *,
.freeBox__b9UVm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b9UVm > :global(.__wab_flex-container) > picture > img,
.freeBox__b9UVm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow2 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow2 > :global(.__wab_flex-container) > *,
.serviceRow2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow2 > :global(.__wab_flex-container) > picture > img,
.serviceRow2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow2 {
  --plsmc-rc-col-gap: 0px;
}
.serviceRow2 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow2 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow2 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .serviceRow2 {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .serviceRow2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .serviceRow2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bq15O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark__sxpsg:global(.__wab_instance) {
  position: relative;
}
.text__zvskL {
  height: auto;
  cursor: pointer;
}
.column___77S15 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark__eaKc1:global(.__wab_instance) {
  position: relative;
}
.text__dQqVp {
  padding-right: 0px;
  cursor: pointer;
}
.column__gEweM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark__dBhcD:global(.__wab_instance) {
  position: relative;
}
.text__ge0Yd {
  height: auto;
  cursor: pointer;
}
.column__o8CLv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark__kqOf:global(.__wab_instance) {
  position: relative;
}
.text__i5TT {
  height: auto;
  cursor: pointer;
}
.column__zjk8B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark__sn9At:global(.__wab_instance) {
  position: relative;
}
.text__xJskP {
  cursor: pointer;
}
.column___0Kqbe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #292d2f4d;
  min-width: 0;
  padding: 30px;
}
.serviceDark___1Lkzh:global(.__wab_instance) {
  position: relative;
}
.text__zV0G {
  cursor: pointer;
}
.freeBox__co7Ev {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 38px 64px 68px;
}
@media (max-width: 640px) {
  .freeBox__co7Ev {
    width: 100%;
    min-width: 0;
    padding: 30px;
    margin: 0px;
  }
}
.freeBox__g7ZoC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__g7ZoC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__g7ZoC > :global(.__wab_flex-container) > *,
.freeBox__g7ZoC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g7ZoC > :global(.__wab_flex-container) > picture > img,
.freeBox__g7ZoC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 640px) {
  .freeBox__g7ZoC {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox__g7ZoC > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__g7ZoC > :global(.__wab_flex-container) > *,
  .freeBox__g7ZoC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g7ZoC > :global(.__wab_flex-container) > picture > img,
  .freeBox__g7ZoC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__az7IW {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__az7IW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__az7IW > :global(.__wab_flex-container) > *,
.freeBox__az7IW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__az7IW > :global(.__wab_flex-container) > picture > img,
.freeBox__az7IW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__az7IW {
    padding: 0px;
  }
}
.freeBox__dzosp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dzosp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__dzosp > :global(.__wab_flex-container) > *,
.freeBox__dzosp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzosp > :global(.__wab_flex-container) > picture > img,
.freeBox__dzosp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h2__r4UFi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .h2__r4UFi {
    font-size: 30px;
  }
}
.text___83MV0 {
  align-self: flex-start;
  max-width: 1239px;
  padding-top: 16px;
  padding-bottom: 40px;
  width: 100%;
  min-width: 0;
}
.freeBox__cDdd {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__cDdd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cDdd > :global(.__wab_flex-container) > *,
.freeBox__cDdd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cDdd > :global(.__wab_flex-container) > picture > img,
.freeBox__cDdd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow3 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow3 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow3 > :global(.__wab_flex-container) > *,
.serviceRow3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow3 > :global(.__wab_flex-container) > picture > img,
.serviceRow3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow3 {
  --plsmc-rc-col-gap: 0px;
}
.serviceRow3 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow3 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow3 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .serviceRow3 {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .serviceRow3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .serviceRow3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fjsDr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__ykXFu:global(.__wab_instance) {
  position: relative;
}
.h3___6Vrow {
  cursor: pointer;
}
.blueBdr__vc86M:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__dPNsw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__jhOjU:global(.__wab_instance) {
  position: relative;
}
.h3___8Ffm5 {
  cursor: pointer;
}
.blueBdr__m8Xb:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__qluEv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__umlEx:global(.__wab_instance) {
  position: relative;
}
.h3__peino {
  cursor: pointer;
}
.blueBdr___3Q7Rg:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__hXnIz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__etpzW:global(.__wab_instance) {
  position: relative;
}
.h3__tMk0E {
  cursor: pointer;
}
.blueBdr__jt0S9:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__p64YT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite__cceQf:global(.__wab_instance) {
  position: relative;
}
.h3__sN2IQ {
  cursor: pointer;
}
.blueBdr__edHJa:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.column__rFx3F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-lQGUVf47CErW);
  box-shadow: none;
  min-width: 0;
  padding: 30px;
}
.serviceWhite___62MPb:global(.__wab_instance) {
  position: relative;
}
.h3__cv80D {
  cursor: pointer;
}
.blueBdr__bSFzt:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
