.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox___6L0Tw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: var(--token-9EamtiqwvIcV);
}
.freeBox__xObR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
