.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/copy_of_seodapop_main_website/images/pexelsAndreaPiacquadio789822Jpg.jpg") right 0px top 50% / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 640px) {
  .banner {
    padding-bottom: 56px;
    padding-top: 50px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tm3Rr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tm3Rr > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tm3Rr > :global(.__wab_flex-container) > *,
.freeBox__tm3Rr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tm3Rr > :global(.__wab_flex-container) > picture > img,
.freeBox__tm3Rr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
.clientsSection5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.clientsSection5 > :global(.__wab_flex-container) > *,
.clientsSection5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clientsSection5 > :global(.__wab_flex-container) > picture > img,
.clientsSection5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 640px) {
  .clientsSection5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__j0H1L {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__j0H1L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__j0H1L > :global(.__wab_flex-container) > *,
.freeBox__j0H1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j0H1L > :global(.__wab_flex-container) > picture > img,
.freeBox__j0H1L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .freeBox__j0H1L {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__j0H1L > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 640px) {
  .freeBox__j0H1L > :global(.__wab_flex-container) > *,
  .freeBox__j0H1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j0H1L > :global(.__wab_flex-container) > picture > img,
  .freeBox__j0H1L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.columns__gDp5G {
  --plsmc-rc-col-gap: 0px;
}
.columns__gDp5G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 42px 8px 36px;
}
.columns__gDp5G > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 640px) {
  .columns__gDp5G {
    padding: 0px;
  }
}
.column__tBpTu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: var(--token-lQGUVf47CErW);
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 26px 26px 35px;
}
.text__yYgnq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 857px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__yYgnq {
    font-size: 15px;
  }
}
.column__m0Wpp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 33px;
}
.columns__kdaab {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__kdaab > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__kdaab > :global(.__wab_flex-container) > *,
.columns__kdaab > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kdaab > :global(.__wab_flex-container) > picture > img,
.columns__kdaab
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__kdaab {
  --plsmc-rc-col-gap: 0px;
}
.columns__kdaab > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__kdaab > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (max-width: 640px) {
  .columns__kdaab {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .columns__kdaab > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .columns__kdaab > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uxwiL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#292c2cd9, #292c2cd9),
    url("/plasmic/copy_of_seodapop_main_website/images/bgHerojpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.contactForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 615px;
}
.column__lDfMk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(#ffffff96, #ffffff96),
    url("/plasmic/copy_of_seodapop_main_website/images/writingPad32027471920Jpg.jpg") top 50% right 30% / cover repeat scroll;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 3px;
}
@media (max-width: 640px) {
  .column__lDfMk {
    background: #ffffff96;
    padding: 20px;
  }
}
.h2__vntdg {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__ihbyq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ihbyq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ihbyq > :global(.__wab_flex-container) > *,
.freeBox__ihbyq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ihbyq > :global(.__wab_flex-container) > picture > img,
.freeBox__ihbyq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.dataFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__pYt45 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 203px;
  min-width: 0;
}
.h2__ee6Df {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__hVlQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 320px;
  min-width: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bdbDo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
