.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__d8EaR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 0px;
  background: url("/plasmic/copy_of_seodapop_main_website/images/darkennedMedpng.png"), #0e0d0d87;
  min-width: 0;
  padding: 8px;
}
.freeBox__hjD6N {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1380px;
  margin-bottom: 20px;
  min-width: 0;
  padding: 128px 10px;
}
@media (max-width: 640px) {
  .freeBox__hjD6N {
    padding-bottom: 61px;
    padding-top: 60px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1031px;
  align-self: center;
  background: #0000006b;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-left: 0px;
  min-width: 0;
  padding: 30px 0px 30px 40px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___9XCb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___9XCb > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9XCb > :global(.__wab_flex-container) > *,
.freeBox___9XCb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9XCb > :global(.__wab_flex-container) > picture > img,
.freeBox___9XCb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox___9XCb {
    max-width: 274px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox___9XCb > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.h1 {
  padding-top: 0px;
  color: var(--token-lQGUVf47CErW);
  text-align: left;
}
@media (max-width: 640px) {
  .h1 {
    font-size: 32px;
  }
}
.text__zEe9K {
  position: relative;
  height: auto;
  max-width: 731px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-top: calc(5px + 16px) !important;
  color: var(--token-lQGUVf47CErW);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__zEe9K {
    font-size: 16px;
    margin-top: calc(5px + 16px) !important;
  }
}
.h3 {
  width: 703px;
  height: auto;
}
@media (max-width: 640px) {
  .h3 {
    width: 274px;
  }
}
.freeBox___2CtXn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2CtXn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2CtXn > :global(.__wab_flex-container) > *,
.freeBox___2CtXn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2CtXn > :global(.__wab_flex-container) > picture > img,
.freeBox___2CtXn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.contactButton {
  background: var(--token-lQGUVf47CErW);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-top: 40px;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 0px 34px;
  border: 1px solid transparent;
}
.contactButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.contactButton > :global(.__wab_flex-container) > *,
.contactButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contactButton > :global(.__wab_flex-container) > picture > img,
.contactButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fx6C6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__zyIp7 {
  color: var(--token-9EamtiqwvIcV);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__yXrsY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox___7O2Zq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 0px 1em;
}
.columns__qKfBs {
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 0;
  width: 1380px;
  background: none;
  left: auto;
  top: auto;
  height: 677px;
  padding: 5px 0px 5px 9px;
}
.columns__qKfBs > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
  --plsmc-rc-col-gap: 14px;
}
.columns__qKfBs > :global(.__wab_flex-container) > *,
.columns__qKfBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qKfBs > :global(.__wab_flex-container) > picture > img,
.columns__qKfBs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.columns__qKfBs {
  --plsmc-rc-col-gap: 0px;
}
.columns__qKfBs > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qKfBs > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qKfBs > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__qKfBs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__qKfBs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__qKfBs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bPoYc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 41px 0px 0px;
}
.img___9TY8C {
  position: relative;
  object-fit: cover;
  max-width: 400px;
  width: 100%;
  height: 228px;
  margin-top: 24px;
  min-width: 0;
  flex-shrink: 0;
}
.img___9TY8C > picture > img {
  object-fit: cover;
}
.img___9TY8C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___9TY8C {
    margin-top: 0px;
    height: 237px;
    flex-shrink: 0;
  }
}
.img__g0Ua4 {
  position: relative;
  object-fit: cover;
  max-width: 400px;
  margin-top: 28px;
  height: 356px;
  flex-shrink: 0;
}
.img__g0Ua4 > picture > img {
  object-fit: cover;
}
.img__g0Ua4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__eq4Zu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 48px 62px 0px;
}
@media (max-width: 768px) {
  .column__eq4Zu {
    display: none;
  }
}
.img__goL7X {
  position: relative;
  object-fit: cover;
  max-width: 300px;
  width: 237px;
  height: 339px;
  margin-top: 0px;
  align-self: auto;
  object-position: center 50%;
  box-shadow: none;
  flex-shrink: 0;
}
.img__goL7X > picture > img {
  object-fit: cover;
  object-position: center 50%;
}
.img__goL7X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center 50%;
}
@media (max-width: 768px) {
  .img__goL7X {
    display: inline-block !important;
  }
}
@media (max-width: 640px) {
  .img__goL7X {
    height: 292px;
    margin-top: 28px;
    flex-shrink: 0;
  }
}
.img__lr65D {
  position: relative;
  object-fit: cover;
  max-width: 400px;
  margin-top: 40px;
}
.img__lr65D > picture > img {
  object-fit: cover;
}
.img__lr65D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___5EFqa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 640px) {
  .column___5EFqa {
    padding: 11px 30px 30px;
  }
}
.freeBox__eZj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 662px;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px 1px 8px 8px;
}
.freeBox__eZj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__eZj > :global(.__wab_flex-container) > *,
.freeBox__eZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eZj > :global(.__wab_flex-container) > picture > img,
.freeBox__eZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__cRoH {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  margin-bottom: 16px;
  margin-top: calc(128px + 20px) !important;
  margin-left: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .h2__cRoH {
    margin-top: calc(128px + 20px) !important;
  }
}
.text__pvWjd {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  max-width: 545px;
  margin-left: 0px;
  min-width: 0;
}
.freeBox__djIz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  padding-left: 0px;
  margin-top: calc(17px + 20px) !important;
  padding-top: 0px;
}
.freeBox__djIz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__djIz > :global(.__wab_flex-container) > *,
.freeBox__djIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__djIz > :global(.__wab_flex-container) > picture > img,
.freeBox__djIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button {
  background: var(--token-9EamtiqwvIcV);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-top: 28px;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 0px 34px;
  border: 1px solid transparent;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__nuUkE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jfeIo {
  color: var(--token-lQGUVf47CErW);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  margin-top: 0px;
}
.svg__nkBwk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__c9L1X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 40px 8px 80px 16px;
}
.freeBox___6Ac5Z {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
}
.columns__lD62 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns__lD62 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.columns__lD62 > :global(.__wab_flex-container) > *,
.columns__lD62 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__lD62 > :global(.__wab_flex-container) > picture > img,
.columns__lD62
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__lD62 {
  --plsmc-rc-col-gap: 0px;
}
.columns__lD62 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__lD62 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__lD62 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .columns__lD62 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__lD62 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 640px) {
  .columns__lD62 > :global(.__wab_flex-container) > *,
  .columns__lD62 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__lD62 > :global(.__wab_flex-container) > picture > img,
  .columns__lD62
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .columns__lD62 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__q1Cwt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#0d4b6deb, #0d4b6deb),
    url("/plasmic/copy_of_seodapop_main_website/images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.column__q1Cwt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .column__q1Cwt > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 640px) {
  .column__q1Cwt > :global(.__wab_flex-container) > *,
  .column__q1Cwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__q1Cwt > :global(.__wab_flex-container) > picture > img,
  .column__q1Cwt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__mZxdu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__mZxdu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mZxdu > :global(.__wab_flex-container) > *,
.freeBox__mZxdu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mZxdu > :global(.__wab_flex-container) > picture > img,
.freeBox__mZxdu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__hIEoO {
  position: relative;
  color: var(--token-lQGUVf47CErW);
  padding-bottom: 0px;
}
.freeBox__hXYuO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-lQGUVf47CErW);
}
.text__wM7R5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-lQGUVf47CErW);
  min-width: 0;
}
.column__wkBq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#314f56e0, #314f56e0),
    url("/plasmic/copy_of_seodapop_main_website/images/headerBg6Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__hzf3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 5px 8px 8px;
}
.freeBox__hzf3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hzf3 > :global(.__wab_flex-container) > *,
.freeBox__hzf3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hzf3 > :global(.__wab_flex-container) > picture > img,
.freeBox__hzf3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__krYpv {
  position: relative;
  color: var(--token-lQGUVf47CErW);
}
.freeBox__o0C3C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-lQGUVf47CErW);
}
.text__b0Hcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  padding-top: 0px;
  color: var(--token-lQGUVf47CErW);
  min-width: 0;
}
.column__mAFoD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#141616ed, #141616ed),
    url("/plasmic/copy_of_seodapop_main_website/images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__wY25A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__wY25A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wY25A > :global(.__wab_flex-container) > *,
.freeBox__wY25A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wY25A > :global(.__wab_flex-container) > picture > img,
.freeBox__wY25A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__rQndU {
  position: relative;
  color: var(--token-lQGUVf47CErW);
}
.freeBox__rM4Aj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-lQGUVf47CErW);
}
.text__cAZih {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-lQGUVf47CErW);
  min-width: 0;
}
.freeBox__oJ6Wa {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-lQGUVf47CErW);
  width: 100%;
  min-width: 0;
  padding: 63px 64px 128px;
}
@media (max-width: 640px) {
  .freeBox__oJ6Wa {
    width: 100%;
    min-width: 0;
    padding: 42px 32px 46px;
  }
}
.freeBox__hSTtq {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1380px;
}
.freeBox__hSTtq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hSTtq > :global(.__wab_flex-container) > *,
.freeBox__hSTtq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hSTtq > :global(.__wab_flex-container) > picture > img,
.freeBox__hSTtq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (max-width: 1024px) {
  .freeBox__hSTtq {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 36px);
    height: calc(100% + 36px);
  }
}
@media (max-width: 1024px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > picture > img,
  .freeBox__hSTtq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 36px;
  }
}
@media (max-width: 768px) {
  .freeBox__hSTtq {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 768px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > picture > img,
  .freeBox__hSTtq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 640px) {
  .freeBox__hSTtq {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__hSTtq > :global(.__wab_flex-container) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hSTtq > :global(.__wab_flex-container) > picture > img,
  .freeBox__hSTtq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___95Uxg {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  align-self: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox___95Uxg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___95Uxg > :global(.__wab_flex-container) > *,
.freeBox___95Uxg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___95Uxg > :global(.__wab_flex-container) > picture > img,
.freeBox___95Uxg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .freeBox___95Uxg > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 768px) {
  .freeBox___95Uxg > :global(.__wab_flex-container) > *,
  .freeBox___95Uxg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___95Uxg > :global(.__wab_flex-container) > picture > img,
  .freeBox___95Uxg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.img__dKmxs {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__iePl2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__iePl2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iePl2 > :global(.__wab_flex-container) > *,
.freeBox__iePl2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iePl2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iePl2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__azDcu {
  align-self: center;
  text-align: center;
}
.freeBox__meB5F {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__meB5F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__meB5F > :global(.__wab_flex-container) > *,
.freeBox__meB5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__meB5F > :global(.__wab_flex-container) > picture > img,
.freeBox__meB5F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__qHGnp {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__qHGnp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qHGnp > :global(.__wab_flex-container) > *,
.freeBox__qHGnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qHGnp > :global(.__wab_flex-container) > picture > img,
.freeBox__qHGnp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___0KlL {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__nsVbi {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--token-9EamtiqwvIcV);
  font-family: "Inter", sans-serif;
}
.text__lkWQs {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.freeBox__d9UsM {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__d9UsM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d9UsM > :global(.__wab_flex-container) > *,
.freeBox__d9UsM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d9UsM > :global(.__wab_flex-container) > picture > img,
.freeBox__d9UsM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__th3Yn {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__th3Yn > picture > img {
  object-fit: cover;
}
.img__th3Yn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__swatg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__swatg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__swatg > :global(.__wab_flex-container) > *,
.freeBox__swatg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swatg > :global(.__wab_flex-container) > picture > img,
.freeBox__swatg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qroiM {
  text-align: center;
}
.freeBox___0PXzR {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___0PXzR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___0PXzR > :global(.__wab_flex-container) > *,
.freeBox___0PXzR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0PXzR > :global(.__wab_flex-container) > picture > img,
.freeBox___0PXzR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__puqXu {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__puqXu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__puqXu > :global(.__wab_flex-container) > *,
.freeBox__puqXu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__puqXu > :global(.__wab_flex-container) > picture > img,
.freeBox__puqXu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__h4KI {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__ajSBo {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-9EamtiqwvIcV);
  text-align: center;
}
.text__vpnyS {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox__bVWwV {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__bVWwV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bVWwV > :global(.__wab_flex-container) > *,
.freeBox__bVWwV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bVWwV > :global(.__wab_flex-container) > picture > img,
.freeBox__bVWwV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___61Y3M {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox___5Q8D1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___5Q8D1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5Q8D1 > :global(.__wab_flex-container) > *,
.freeBox___5Q8D1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Q8D1 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Q8D1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__alcJ {
  text-align: center;
}
.freeBox__sYs4T {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__sYs4T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sYs4T > :global(.__wab_flex-container) > *,
.freeBox__sYs4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sYs4T > :global(.__wab_flex-container) > picture > img,
.freeBox__sYs4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__wxvT {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__wxvT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wxvT > :global(.__wab_flex-container) > *,
.freeBox__wxvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wxvT > :global(.__wab_flex-container) > picture > img,
.freeBox__wxvT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__a4KWr {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__m3LFd {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-9EamtiqwvIcV);
  text-align: center;
}
.text__zwuzg {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.img__apXii {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 588px;
  flex-shrink: 0;
}
.img__apXii > picture > img {
  object-fit: cover;
}
.img__apXii > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
.footerMain:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  display: flex;
}
