.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox__kb539 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 2px 16px 0px;
}
.freeBox__kb539 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kb539 > :global(.__wab_flex-container) > *,
.freeBox__kb539 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kb539 > :global(.__wab_flex-container) > picture > img,
.freeBox__kb539
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .freeBox__kb539 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 640px) {
  .freeBox__kb539 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.header__p0HIj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/copy_of_seodapop_main_website/images/linkedinSalesSolutions46Bom4LObsAUnsplashjpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 640px) {
  .aboutUsBanner {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__cFNh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cFNh > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cFNh > :global(.__wab_flex-container) > *,
.freeBox__cFNh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cFNh > :global(.__wab_flex-container) > picture > img,
.freeBox__cFNh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
}
@media (max-width: 640px) {
  .h1 {
    font-size: 40px;
  }
}
.text___785Vf {
  position: relative;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-lQGUVf47CErW);
}
@media (max-width: 640px) {
  .text___785Vf {
    font-size: 18px;
  }
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
}
@media (max-width: 640px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 1380px;
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 640px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uHySw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .column__uHySw {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__r0QMg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 1117px;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.row1 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.row1 > :global(.__wab_flex-container) > *,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row1 > :global(.__wab_flex-container) > picture > img,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
  margin-top: 30px;
}
.row1 {
  --plsmc-rc-col-gap: 0px;
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .row1 {
    flex-direction: row;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 640px) {
  .row1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
  }
}
@media (max-width: 640px) {
  .row1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__x5Xel {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__kxoLm:global(.__wab_instance) {
  position: relative;
}
.h3__k0VoQ {
  color: #ffffff;
}
.text__g9JZi {
  padding-left: 0px;
}
.link___6OAwt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__hV1Ar {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__qa7Gb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ivEj1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__fwM3M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__aiUDz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__zcrab {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___6CuEf:global(.__wab_instance) {
  position: relative;
}
.h3__goyCq {
  color: #ffffff;
}
.link__ip7Iz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___2WZea {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__z9Bs0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__psrq4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__qwtx2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___47Z8U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__xjg8A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__jXexL:global(.__wab_instance) {
  position: relative;
}
.h3__t99F0 {
  color: #ffffff;
}
.link__gsdI8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___2DvEk {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__dGWN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__oWy51 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__j8Akg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__e9NZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column___2Kdxp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__fckt3:global(.__wab_instance) {
  position: relative;
}
.h3___0Uetz {
  color: #ffffff;
}
.link__q7H1G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__bFtAv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__vxTCo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___3WCu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__kUg6B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__fGfwB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__qOBxc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__reVvz:global(.__wab_instance) {
  position: relative;
}
.h3__hCqj {
  color: #ffffff;
}
.link__uVkV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__sfuy1 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link___40Xhq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__fRt4K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__mpHO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__bbG4O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column___5An2G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__beVzw:global(.__wab_instance) {
  position: relative;
}
.h3__dPoGl {
  color: #ffffff;
}
.link__av5Jk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___6D6Ab {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__vvZ03 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__i3Mxe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link___1Gxge {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vtOa4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lQGUVf47CErW);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__ivlZ {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (max-width: 640px) {
  .freeBox__ivlZ {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox__x2MRg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__x2MRg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__x2MRg > :global(.__wab_flex-container) > *,
.freeBox__x2MRg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x2MRg > :global(.__wab_flex-container) > picture > img,
.freeBox__x2MRg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 640px) {
  .freeBox__x2MRg {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox__x2MRg > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__x2MRg > :global(.__wab_flex-container) > *,
  .freeBox__x2MRg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x2MRg > :global(.__wab_flex-container) > picture > img,
  .freeBox__x2MRg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__w595K {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__w595K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w595K > :global(.__wab_flex-container) > *,
.freeBox__w595K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w595K > :global(.__wab_flex-container) > picture > img,
.freeBox__w595K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eU89 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eU89 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eU89 > :global(.__wab_flex-container) > *,
.freeBox__eU89 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eU89 > :global(.__wab_flex-container) > picture > img,
.freeBox__eU89
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__g5DUm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  min-width: 0;
}
.text__wtdl {
  align-self: flex-start;
  max-width: 1288px;
  padding-right: 0px;
  padding-bottom: 65px;
  width: 100%;
  min-width: 0;
}
.freeBox__ph5QN {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ph5QN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ph5QN > :global(.__wab_flex-container) > *,
.freeBox__ph5QN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ph5QN > :global(.__wab_flex-container) > picture > img,
.freeBox__ph5QN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow {
  --plsmc-rc-col-gap: 0px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) > *,
  .serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .serviceRow > :global(.__wab_flex-container) > picture > img,
  .serviceRow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4Z08 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__tc39H:global(.__wab_instance) {
  position: relative;
}
.column__iszks {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__nUxCt:global(.__wab_instance) {
  position: relative;
}
.column__mGk9D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__eUxuM:global(.__wab_instance) {
  position: relative;
}
.column__gy6Kz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__nN4Pp:global(.__wab_instance) {
  position: relative;
}
.h3__l4IcA {
  padding-bottom: 0px;
}
.column__p5G3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__lEdPz:global(.__wab_instance) {
  position: relative;
}
.column__mqyC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__uXl:global(.__wab_instance) {
  position: relative;
}
.freeBox__rMcSf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
